p {
        text-transform: uppercase;
        font-family: 'Sanchez', serif;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        overflow: auto;
        text-align: justify;
}
.sleft {
        width: 26%;
        margin-left: 24%;
        float: left;
        background: green;
}
.sleft2 {
        width: 28%;
        margin-left: 24%;
        float: left;
        background: pink;
}
.sright {
        width: 26%;
        margin-right: 24%;
        background: red;
        float: right;
}
.sright2 {
        width: 24%;
        margin-right: 24%;
        background: orange;
        float: right;
}
.scenter {
        width: 52%;
        margin-right: 24%;
        margin-left: 24%;
        clear: both;
        background: yellow;
}

.s1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 100%;
}
.s4 {
        font-size: 113px;
        line-height: 85%;
        font-weight: 900;
}
.s2 {
        font-size: 27px;
        font-weight: 500;
        line-height: 100%;
}
.s3 {
        font-size: 29px;
        line-height: 100%;
        font-weight: 600;
}
.s5 {
        line-height: 100%;
        font-size: 26px;
        font-weight: 500;
}
.s6 {
        font-size: 31px;
        font-weight: 600;
        line-height: 100%;
}
.s7 {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
}
.s8 {
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
}
.s9 {
        font-size: 34px;
        font-weight: 600;
        line-height: 100%;
}
.s10 {
        font-size: 26px;
        font-weight: 500;
        line-height: 90%;
}
.s11 {
        font-size: 39px;
        font-weight: 900;
        line-height: 90%;
}
.s12 {
        font-size: 16px;
        font-weight: 300;
        line-height: 30%;
}
.s13 {
        font-size: 18px;
        font-weight: 400;
        line-height: 30%;
}
.s14 {
        font-size: 28px;
        font-weight: 600;
        line-height: 90%;
}

