body {
        max-width: 990px;
        min-width: 990px;
}
p {
        text-transform: uppercase;
        font-family: 'Sanchez', serif;
        margin: 0px 0px 0px 0px;
        padding: 0px 1px;
        text-align: justify;
}
.sleft {
        width: 308px;
        margin-left: 185px;
        float: left;
}
.sleft-1 {
        width: 283px;
        margin-left: 185px;
        float: left;
}
.sleft2 {
        width: 330px;
        margin-left: 185px;
        float: left;
}
.sleft3 {
        width: 335px;
        margin-left: 185px;
        float: left;
}
.sright {
        width: 308px;
        margin-right: 185px;
        float: right;
}
.sright-1 {
        width: 333px;
        margin-right: 185px;
        float: right;
}
.sright2 {
        width: 286px;
        margin-right: 185px;
        float: right;
}
.sright3 {
        width: 281px;
        margin-right: 185px;
        float: right;
}
.scenter {
        width: 618px;
        margin-right: 185px;
        margin-left: 185px;
        clear: both;
}

.s1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 100%;
}
.s4 {
        font-size: 125px;
        line-height: 80%;
        font-weight: 900;
}
.s2 {
        font-size: 27px;
        font-weight: 500;
        line-height: 100%;
}
.s3 {
        font-size: 29px;
        line-height: 100%;
        font-weight: 600;
}
.s5 {
        line-height: 100%;
        font-size: 26px;
        font-weight: 500;
}
.s6 {
        font-size: 31px;
        font-weight: 600;
        line-height: 100%;
}
.s7 {
        font-size: 21px;
        font-weight: 500;
        line-height: 100%;
}
.s8 {
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
}
.s9 {
        font-size: 34px;
        font-weight: 600;
        line-height: 100%;
}
.s10 {
        font-size: 26px;
        font-weight: 500;
        line-height: 90%;
}
.s11 {
        font-size: 39px;
        font-weight: 900;
        line-height: 100%;
}
.s12 {
        font-size: 16px;
        font-weight: 300;
        line-height: 100%;
}
.s13 {
        font-size: 18px;
        font-weight: 400;
        line-height: 30%;
}
.s14 {
        font-size: 28px;
        font-weight: 600;
        line-height: 90%;
}
.s15 {
        font-size: 22px;
        font-weight: 500;
        line-height: 100%;
}
.s16 {
        font-size: 22px;
        font-weight: 600;
        line-height: 100%;
}
.s17 {
        font-size: 39px;
        font-weight: 600;
        line-height: 100%;
}
.s18 {
        font-size: 32px;
        font-weight: 900;
        line-height: 100%;
}
.s19 {
        font-size: 75px;
        font-weight: 900;
        line-height: 85%;
}
.s20 {
        font-size: 52px;
        font-weight: 800;
        line-height: 100%;
}
